.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./slike/background.webp");
    background-size: cover;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.naslov {
  display: flex;
    align-items: center;
  flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 300px;
}

.naslov h1 {
  font-weight: bold;
}

.naslov p {
    font-size: 1.2rem;
}

.glavni {
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

footer p {
  margin: 10px;
}